.dayContainer {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    column-gap: 0.5rem;
    row-gap: 3rem;
}

.backward {
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: #f0be39;
    transition: all 0.3s;
}

.backward:hover {
    background-color: #ffd43b;
}

.dayHeader {
    display: flex;
    justify-content: space-between;
}

.dayHeader a {
    margin: auto 0;
}

.totalStats{
    display: flex;
    gap: 0.6rem;
}

.totalStats p {
    display: block;
}