.breakfast {
    grid-column: 1/4;
}

.lunch {
    grid-column: 5/8;
}

.dinner {
    grid-column: 9/12;
}

.snack {
    grid-column: 3/6;
}

.supper {
    grid-column: 7/10;
}

.meal {
    height: 21rem;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffefdc;
    gap: 0.8rem;
}

.meal a{
    text-decoration: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.dishType {
    padding: 1.4rem 0.4rem 0rem 0.4rem;
    display: flex;
    gap: 1rem;
}

.macros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    background-color: #e6d7c6;
    border-radius: 1rem;
    transition: all 0.3s;
}

.macros:hover {
    background-color: #fff2e3;
}

.macro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
}

.macro p {
    margin: 0.2rem;
}